* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

/* applying styles to the header */

header {
    padding: 20px 35px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: brown;
    margin: 0;
}

header a {
    color: brown;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

.section-title {
    font-size: 48px;
    color: grey;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border {
    border-color: whitesmoke;
}

.secondary-border {
    border-color: brown;
}

.flex-row {
    display: flex;
}

/* picture */
.picture {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}



/* contact me style */
.contact {
    background: navajowhite;
}

.contact h2 {
    color:grey;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

.contact-info > * {
    flex: 1;
    margin: 15px;
}

.contact-info a {
    color: brown;
}

/* footer styling */
footer {
    background: whitesmoke;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h4 {
    color: grey;
    font-size: 20px;
    margin: 0;
}
